#kakao-wrapper, #kakao-chat-wrapper{
    position: fixed;
    width: 390px;
    height: 660px;
    background-color: rgb(255, 235, 50);
    border: 0.5px solid rgb(184, 184, 184, 0.4);
    border-radius: 1%;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform:translate(0%, -50%);
}

#kakao-chat-wrapper{
    background-color: rgb(250, 250, 250);
}

#input-chat-wrapper{
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    height: 99px;
    width: 389px;
    margin: 1px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

#input-chat{
    /* background-color: red; */
    width: 262px;
    height: 93px;
    padding: 0px 10px;
    border: 0px;
    outline: none;
}

#text-send{
    width: 80px;
    height: 70px;
    margin: 15px 8px;
    background-color: rgb(249, 249, 249);
    color: rgb(182, 182, 182);
    font-size: 13px;
    border-radius: 5%;
    border: 1px solid rgb(236, 236 ,236);
}

#chat-contents-wrapper{
    position: fixed;
    width: 390px;
    height: 500px;
    background-color: rgb(192, 209, 219);
    border: 0.5px solid rgb(184, 184, 184, 0.4);
    top: 47%;
    left: 0;
    right: 0;
    margin: auto;
    transform:translate(0%, -50%);
}

#login-wrapper{
    position: fixed;
    top: 50%;
    width: 250px;
    height: 139px;
    /* border: 1px solid rgb(227, 210, 83);
    border-radius: 2%; */
    left: 0;
    right: 0;
    margin: auto;
    transform:translate(0%, -50%);
}

.kakao-login{
    width: 220px;
    height: 40px;
    margin: auto;
    border: 1px solid rgb(227, 210, 83);
    padding: 0px 15px;
    font-size: 15px;
    outline: none;
}

#kakao-email{
    /* border: 2px solid rgb(213, 88, 53); */
    border-bottom: 1.3px solid rgba(245, 245, 245, 0.8);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

#kakao-pw{
    margin: auto;
    border: 1px solid rgb(227, 210, 83);
    /* border: 2px solid rgb(213, 88, 53); */
    border-top: 0px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

#login-btn{
    width: 252px;
    height: 45px;
    margin: 7px 0px;
    background-color: rgb(246, 246, 246);
    border:1px solid rgb(227, 210, 83);
    border-radius: 2%;
    font-size:15px;
    color: rgb(186, 186, 186);
}

#login-err{
    font-size: 12px;
    color: rgb(225, 125, 68);
    width: 252px;
    position: fixed;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
    transform:translate(0%, -50%);
}

::placeholder {
    color: rgb(153, 153, 157);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(153, 153, 157);
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(153, 153, 157);
 }